{% extends 'base.html' %}

{% block title %}<title>Enter new password</title>{% endblock %}

{% block content %}
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
margin-top:50px;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  border-radius: 5px;
  color:black;
  padding: 20px;
  width:60%;
  margin-right:auto;
  margin-left:auto;
 margin-top: 80px;
  background-color: white;
}

/* Full-width input fields */
input[type=email], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=email]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.button {
  background-color: darkcyan;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.button:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
</style>



{% if validlink %}
<div class='container'>
<h2>Set a new password!</h2>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input class='button' type="submit" value="Change my password">
</form>
</div>
{% else %}
<div class='container'>
<p>"The password reset link was invalid, possibly because it has already been used.  Please request a new password reset."</p>
</div>
{% endif %}
{% endblock %}
