{% extends 'base.html' %}

{% block title %}<<title>Password reset complete</title>{% endblock %}


{% block content %}
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
margin-top:50px;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  border-radius: 5px;
  color:black;
  padding: 20px;
  width:60%;
  margin-right:auto;
  margin-left:auto;
 margin-top: 80px;
  background-color: white;
}
</style>
<div class="container">

<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the <a href="/login">log in page</a>.</p>
</div>
{% endblock %}
